#lala{color:orange;font-family: 'Basic', sans-serif;font-size:20px;text-transform:uppercase 
}
#lalo{text-transform: uppercase;font-family: 'Concert One', cursive;}
#lolo{font-family: 'Archivo Black', sans-serif;}