#profilename{color:rgb(212, 142, 13); font-family: 'Teko', sans-serif;font-size:200px;right:500px;}
#introduce{color:black;font-family: 'Teko', sans-serif;font-size:100px;}
#pubg{color:royalblue;font-family: 'Teko', sans-serif;font-size:100px;}
#pic{height:1080px;width: 1400px;right: 500px;}
#video{text-transform: uppercase;left: 400px;font-family: 'Teko', sans-serif;right:300px;font-size:200px}
#background-ele{background-color:rgb(99, 95, 95);height: 700px;width: 700px;}